{% extends "dashboard.html" %}

{% block dashboard %}
<h1 class="title">Available Images</h1>
<a class="button is-small" href="{{ url_for('dashboard.get_images') }}"><i class="fas fa-sync-alt"></i>&nbsp Refresh</a>
<a class="button is-small" href="{{ url_for('dashboard.home') }}"><i class="fas fa-home"></i>&nbsp Home</a>
<table class="table">
    <thead>
      <tr>
        <th>Image Identifier</th>
        <th>Singularity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
        <tr>
          <th>{{image.id}}</th>
          {% if image.filename%}
          <td>{{image.filename}}</td>
          <td>
            <a class="button is-small" href="images/download/{{image.filename}}"><i class="fas fa-download"></i></a>
            <a class="button is-small" href="{{url_for('dashboard.delete_image', id=image.id, filename=image.filename)}}"><i class="fas fa-trash-alt"></i></a>
          </td>
          {% else %}
          <td></td>
          <td><a class="button is-small" href="{{url_for('dashboard.delete_image', id=image.id)}}"><i class="fas fa-trash-alt"></i></a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}