{% extends "dashboard.html" %}

{% block dashboard %}
<h1 class="title">Welcome {{name}} to the eflows4HPC Container Image Creation Service</h1>
<div class="columns">
    <div class="column">
        <a href="{{url_for('dashboard.new_build')}}" class="button is-orange is-large column">
            New request
        </a>
        
    </div>
    <div class="column">
        <a href="{{url_for('dashboard.get_builds')}}" class="button is-orange is-large column">
            Build requests
        </a>
    </div>
</div>
<div class="columns">
        <div class="column">
            <a href="{{url_for('dashboard.get_images')}}" class="button is-orange is-large column">
                Available Images
            </a>
        </div>
        <div class="column">
            <a href="{{ url_for('dashboard.account') }}" class="button is-orange is-large column">
                Account Configuration
            </a>
        </div>
</div>
{% endblock %}